<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="Error">
    <UI>
      <Error Id="0">$(loc.Error.0)</Error>
      <Error Id="1">$(loc.Error.1)</Error>
      <Error Id="2">$(loc.Error.2)</Error>
      <Error Id="4">$(loc.Error.4)</Error>
      <Error Id="5">$(loc.Error.5)</Error>
      <Error Id="7">$(loc.Error.7)</Error>
      <Error Id="8">$(loc.Error.8)</Error>
      <Error Id="9">$(loc.Error.9)</Error>
      <Error Id="10">$(loc.Error.10)</Error>
      <Error Id="11">$(loc.Error.11)</Error>
      <Error Id="12">$(loc.Error.12)</Error>
      <Error Id="13">$(loc.Error.13)</Error>
      <Error Id="14">$(loc.Error.14)</Error>
      <Error Id="15">$(loc.Error.15)</Error>
      <Error Id="16">$(loc.Error.16)</Error>
      <Error Id="17">$(loc.Error.17)</Error>
      <Error Id="18">$(loc.Error.18)</Error>
      <Error Id="19">$(loc.Error.19)</Error>
      <Error Id="20">$(loc.Error.20)</Error>
      <Error Id="21">$(loc.Error.21)</Error>
      <Error Id="22">$(loc.Error.22)</Error>
      <Error Id="23">$(loc.Error.23)</Error>
      <Error Id="32">$(loc.Error.32)</Error>
      <Error Id="33">$(loc.Error.33)</Error>
      <Error Id="1101">$(loc.Error.1101)</Error>
      <Error Id="1301">$(loc.Error.1301)</Error>
      <Error Id="1302">$(loc.Error.1302)</Error>
      <Error Id="1303">$(loc.Error.1303)</Error>
      <Error Id="1304">$(loc.Error.1304)</Error>
      <Error Id="1305">$(loc.Error.1305)</Error>
      <Error Id="1306">$(loc.Error.1306)</Error>
      <Error Id="1307">$(loc.Error.1307)</Error>
      <Error Id="1308">$(loc.Error.1308)</Error>
      <Error Id="1309">$(loc.Error.1309)</Error>
      <Error Id="1310">$(loc.Error.1310)</Error>
      <Error Id="1311">$(loc.Error.1311)</Error>
      <Error Id="1312">$(loc.Error.1312)</Error>
      <Error Id="1313">$(loc.Error.1313)</Error>
      <Error Id="1314">$(loc.Error.1314)</Error>
      <Error Id="1315">$(loc.Error.1315)</Error>
      <Error Id="1316">$(loc.Error.1316)</Error>
      <Error Id="1317">$(loc.Error.1317)</Error>
      <Error Id="1318">$(loc.Error.1318)</Error>
      <Error Id="1319">$(loc.Error.1319)</Error>
      <Error Id="1320">$(loc.Error.1320)</Error>
      <Error Id="1321">$(loc.Error.1321)</Error>
      <Error Id="1322">$(loc.Error.1322)</Error>
      <Error Id="1323">$(loc.Error.1323)</Error>
      <Error Id="1324">$(loc.Error.1324)</Error>
      <Error Id="1325">$(loc.Error.1325)</Error>
      <Error Id="1326">$(loc.Error.1326)</Error>
      <Error Id="1327">$(loc.Error.1327)</Error>
      <Error Id="1328">$(loc.Error.1328)</Error>
      <Error Id="1401">$(loc.Error.1401)</Error>
      <Error Id="1402">$(loc.Error.1402)</Error>
      <Error Id="1403">$(loc.Error.1403)</Error>
      <Error Id="1404">$(loc.Error.1404)</Error>
      <Error Id="1405">$(loc.Error.1405)</Error>
      <Error Id="1406">$(loc.Error.1406)</Error>
      <Error Id="1407">$(loc.Error.1407)</Error>
      <Error Id="1408">$(loc.Error.1408)</Error>
      <Error Id="1409">$(loc.Error.1409)</Error>
      <Error Id="1410">$(loc.Error.1410)</Error>
      <Error Id="1500">$(loc.Error.1500)</Error>
      <Error Id="1501">$(loc.Error.1501)</Error>
      <Error Id="1502">$(loc.Error.1502)</Error>
      <Error Id="1503">$(loc.Error.1503)</Error>
      <Error Id="1601">$(loc.Error.1601)</Error>
      <Error Id="1602">$(loc.Error.1602)</Error>
      <Error Id="1603">$(loc.Error.1603)</Error>
      <Error Id="1604">$(loc.Error.1604)</Error>
      <Error Id="1605">$(loc.Error.1605)</Error>
      <Error Id="1606">$(loc.Error.1606)</Error>
      <Error Id="1607">$(loc.Error.1607)</Error>
      <Error Id="1608">$(loc.Error.1608)</Error>
      <Error Id="1701">$(loc.Error.1701)</Error>
      <Error Id="1702">$(loc.Error.1702)</Error>
      <Error Id="1703">$(loc.Error.1703)</Error>
      <Error Id="1704">$(loc.Error.1704)</Error>
      <Error Id="1705">$(loc.Error.1705)</Error>
      <Error Id="1706">$(loc.Error.1706)</Error>
      <Error Id="1707">$(loc.Error.1707)</Error>
      <Error Id="1708">$(loc.Error.1708)</Error>
      <Error Id="1709">$(loc.Error.1709)</Error>
      <Error Id="1710">$(loc.Error.1710)</Error>
      <Error Id="1711">$(loc.Error.1711)</Error>
      <Error Id="1712">$(loc.Error.1712)</Error>
      <Error Id="1713">$(loc.Error.1713)</Error>
      <Error Id="1714">$(loc.Error.1714)</Error>
      <Error Id="1801">$(loc.Error.1801)</Error>
      <Error Id="1802">$(loc.Error.1802)</Error>
      <Error Id="1803">$(loc.Error.1803)</Error>
      <Error Id="1804">$(loc.Error.1804)</Error>
      <Error Id="1805">$(loc.Error.1805)</Error>
      <Error Id="1806">$(loc.Error.1806)</Error>
      <Error Id="1807">$(loc.Error.1807)</Error>
      <Error Id="1901">$(loc.Error.1901)</Error>
      <Error Id="1902">$(loc.Error.1902)</Error>
      <Error Id="1903">$(loc.Error.1903)</Error>
      <Error Id="1904">$(loc.Error.1904)</Error>
      <Error Id="1905">$(loc.Error.1905)</Error>
      <Error Id="1906">$(loc.Error.1906)</Error>
      <Error Id="1907">$(loc.Error.1907)</Error>
      <Error Id="1908">$(loc.Error.1908)</Error>
      <Error Id="1909">$(loc.Error.1909)</Error>
      <Error Id="1910">$(loc.Error.1910)</Error>
      <Error Id="1911">$(loc.Error.1911)</Error>
      <Error Id="1912">$(loc.Error.1912)</Error>
      <Error Id="1913">$(loc.Error.1913)</Error>
      <Error Id="1914">$(loc.Error.1914)</Error>
      <Error Id="1915">$(loc.Error.1915)</Error>
      <Error Id="1916">$(loc.Error.1916)</Error>
      <Error Id="1917">$(loc.Error.1917)</Error>
      <Error Id="1918">$(loc.Error.1918)</Error>
      <Error Id="1919">$(loc.Error.1919)</Error>
      <Error Id="1920">$(loc.Error.1920)</Error>
      <Error Id="1921">$(loc.Error.1921)</Error>
      <Error Id="1922">$(loc.Error.1922)</Error>
      <Error Id="1923">$(loc.Error.1923)</Error>
      <Error Id="1924">$(loc.Error.1924)</Error>
      <Error Id="1925">$(loc.Error.1925)</Error>
      <Error Id="1926">$(loc.Error.1926)</Error>
      <Error Id="1927">$(loc.Error.1927)</Error>
      <Error Id="1928">$(loc.Error.1928)</Error>
      <Error Id="1929">$(loc.Error.1929)</Error>
      <Error Id="1930">$(loc.Error.1930)</Error>
      <Error Id="1931">$(loc.Error.1931)</Error>
      <Error Id="1932">$(loc.Error.1932)</Error>
      <Error Id="1933">$(loc.Error.1933)</Error>
      <Error Id="1934">$(loc.Error.1934)</Error>
    </UI>
  </Fragment>
</Wix>
