<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>klegg</Oem>
	<Release>us</Release>
	<Platform>x86</Platform>
	<ProductName>ndas</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
  </ItemGroup>

</Project>
