// Do not open this file from Resource Editor
#ifndef APSTUDIO_INVOKED
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

MOFRESOURCENAME         MOFDATA                 "busenum.bmf"

#include "ndasbus.ver"
#include "ndasverp.h"

#define VER_NO_PRODUCT_VERSION
#define VER_FILETYPE			VFT_DRV
#define VER_FILESUBTYPE			VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR "NDAS Bus Enumerator"
#define VER_INTERNALNAME_STR	"ndasbus.sys"

#include "ndascommon.ver"

#endif /* APSTUDIO_INVOKED */
