<?xml version="1.0" encoding="utf-8"?>
<?include Config.wxi?>
<?include ComponentGuid.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Fragment Id="itscmd">
		<DirectoryRef Id="NdasAppFolder" src="$(var.SourceDir)">
			<Component Id="itscmd" Guid="$(var.itscmd.guid)" SharedDllRefCount="yes" DiskId="1" Win64="$(var.Win64YesNo)">
				<File Id="itscmd.exe" Name="itscmd.exe" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
