<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>coworld</Oem>
	<Release>eu3</Release>
	<Platform>x86</Platform>
	<ProductName>sharedisk</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
	<Language Include="de-DE" />
	<Language Include="fr-FR" />
  </ItemGroup>

</Project>
