<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>targa</Oem>
	<Release>eu</Release>
	<Platform>x86</Platform>
	<ProductName>ndas</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
	<Language Include="de-DE" />
	<Language Include="fr-FR" />
	<Language Include="it-IT" />
	<!--
	<Language Include="pt-PT" />
	<Language Include="es-ES" />
	-->
	<Language Include="da-DK" />
	<Language Include="nl-NL" />
	<Language Include="nb-NO" />
	<Language Include="sv-SE" />
  </ItemGroup>

  <PropertyGroup>
    <!-- <NoSetupVersionTag>true</NoSetupVersionTag> -->
  </PropertyGroup>
  
</Project>
