<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>digilandhk</Oem>
	<Release>cn</Release>
	<Platform>x86</Platform>
	<ProductName>ndas-cn</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
	<Language Include="zh-CN" />
  </ItemGroup>

</Project>
