<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<?include config.wxi?>
	<Fragment>

		<?ifdef Include.NDASDLU?>

		<?ifdef WixCustomTableLocBug?>
		<?define ActionData.NDASDLU  = "NDAS Logical Unit Driver" ?>
		<?endif?>

		<DirectoryRef Id="NdasDriverFolder" FileSource="$(var.SetupFileSource)">
			<Component Id="ndasdlu" Guid="$(var.NDASDLU.GUID)" DiskId="$(var.media.ndas)" Win64="$(var.Win64.YesNo)">
				<File Id="ndasdlu.sys" Name="ndasdlu.sys" KeyPath="yes" Checksum="yes" />
				<File Id="ndasdlu.inf" Name="ndasdlu.inf" Checksum="yes" />
				<File Id="ndasdlu.cat" Name="ndasdlu.cat" Checksum="yes" />
				<Registry Id="ndasdlu" Root="HKLM" Key="SOFTWARE\NDAS\Install\OEMINF" Type="string" Name="NDASDLU" />
			</Component>
		</DirectoryRef>

		<CustomTable Id="xDriverInstall">
			<Row>
				<Data Column="Id">StopNDASDLU</Data>
				<?ifdef WixCustomTableLocBug?>
				<Data Column="ActionData">$(var.ActionData.NDASDLU)</Data>
				<?else?>
				<Data Column="ActionData">$(loc.ActionData.NDASDLU)</Data>
				<?endif?>
				<Data Column="Phase">1</Data>
				<Data Column="Type">StopService</Data>
				<Data Column="HardwareId">ndasdlu</Data>
				<Data Column="Sequence">$(var.Sequence.NDASDLU.Stop)</Data>
				<Data Column="Condition">(?ndasdlu=3) AND ($ndasdlu=2 OR $ndasdlu=4)</Data>
				<Data Column="Error">28001</Data>
			</Row>
			<Row>
				<Data Column="Id">UninstallNDASDLU</Data>
				<?ifdef WixCustomTableLocBug?>
				<Data Column="ActionData">$(var.ActionData.NDASDLU)</Data>
				<?else?>
				<Data Column="ActionData">$(loc.ActionData.NDASDLU)</Data>
				<?endif?>
				<Data Column="Phase">1</Data>
				<Data Column="Type">InstallFromInfSection</Data>
				<Data Column="HardwareId">DefaultUninstall</Data>
				<Data Column="INF">[#ndasdlu.inf]</Data>
				<Data Column="Flags">0</Data>
				<Data Column="Sequence">$(var.Sequence.NDASDLU.Uninstall)</Data>
				<Data Column="Condition">(?ndasdlu=3) AND ($ndasdlu=2 OR $ndasdlu=4)</Data>
				<Data Column="Error">28001</Data>
				<Data Column="Registry_">ndasdlu</Data>
			</Row>
			<Row>
				<Data Column="Id">InstallNDASDLU</Data>
				<?ifdef WixCustomTableLocBug?>
				<Data Column="ActionData">$(var.ActionData.NDASDLU)</Data>
				<?else?>
				<Data Column="ActionData">$(loc.ActionData.NDASDLU)</Data>
				<?endif?>
				<Data Column="Phase">2</Data>
				<Data Column="Type">InstallFromInfSection</Data>
				<Data Column="HardwareId">DefaultInstall;DefaultUninstall</Data>
				<Data Column="INF">[#ndasdlu.inf]</Data>
				<Data Column="Flags">2</Data>
				<Data Column="Sequence">$(var.Sequence.NDASDLU.Install)</Data>
				<Data Column="Condition">($ndasdlu=3)</Data>
				<Data Column="Error">28001</Data>
				<Data Column="Registry_">ndasdlu</Data>
			</Row>
			<Row>
				<Data Column="Id">StartNDASDLU</Data>
				<?ifdef WixCustomTableLocBug?>
				<Data Column="ActionData">$(var.ActionData.NDASDLU)</Data>
				<?else?>
				<Data Column="ActionData">$(loc.ActionData.NDASDLU)</Data>
				<?endif?>
				<Data Column="Phase">4</Data>
				<Data Column="Type">StartService</Data>
				<Data Column="HardwareId">ndasdlu</Data>
				<Data Column="Flags">0</Data>
				<Data Column="Sequence">$(var.Sequence.NDASDLU.Start)</Data>
				<Data Column="Condition">($ndasdlu=3)</Data>
				<Data Column="Error">28001</Data>
			</Row>
		</CustomTable>

		<?endif?>

	</Fragment>
</Wix>
