<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>ximetafs</Oem>
	<Release>us</Release>
	<Platform>x86</Platform>
	<ProductName>ndasfs</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
  </ItemGroup>

  <PropertyGroup>
    <CompressedPackage>no</CompressedPackage>
    <CandleDefines>NdasSetupFlags_HAVE_NDASNTFS;NdasSetupFlags_HAVE_NDASFAT</CandleDefines>
    <NdasscBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasscBuildProperties>
    <NdasscuiBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasscuiBuildProperties>
    <NdasBuildProperties>AdditonalCandleDefines=$(CandleDefines);CompressedPackage=no</NdasBuildProperties>
  </PropertyGroup>

</Project>
