<?xml version="1.0" encoding="utf-8"?>
<?include Config.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment Id="binaries">
    <Binary Id="Banner.ibd" src="$(var.binarydir)\SetupBanner.jpg" />
    <Binary Id="DialogBitmap.ibd" src="$(var.binarydir)\SetupBitmap.jpg" />
    <Binary Id="CompleteSetup.ibd" src="$(var.binarydir)\CompleteSetupIco.ico" />
    <Binary Id="CustomSetup.ibd" src="$(var.binarydir)\CustomSetupIco.ico" />
    <Binary Id="DestIcon.ibd" src="$(var.binarydir)\DestIcon.ico" />
    <Binary Id="DontInstall.ibd" src="$(var.binarydir)\DontInstall.ico" />
    <Binary Id="Install.ibd" src="$(var.binarydir)\Install.ico" />
    <Binary Id="InsFirstUse.ibd" src="$(var.binarydir)\InstallFirstUse.ico" />
    <Binary Id="InsPartial.ibd" src="$(var.binarydir)\InstallPartial.ico" />
    <Binary Id="InsStateMenu.ibd" src="$(var.binarydir)\InstallStateMenu.ico" />
    <Binary Id="NetworkInstall.ibd" src="$(var.binarydir)\NetworkInstall.ico" />
    <Binary Id="New.ibd" src="$(var.binarydir)\New.ico" />
    <Binary Id="ReinstIco.ibd" src="$(var.binarydir)\ReinstIco.ico" />
    <Binary Id="RemoveIco.ibd" src="$(var.binarydir)\RemoveIco.ico" />
    <Binary Id="SetupIcon.ibd" src="$(var.binarydir)\SetupIcon.ico" />
    <Binary Id="Up.ibd" src="$(var.binarydir)\Up.ico" />
    <Binary Id="WarningIcon.ibd" src="$(var.binarydir)\WarningIcon.ico" />
	<!--
    <Binary Id="NDMSICA.DLL" src="$(var.binarydir)\NDMSICA.DLL.ico" />
	<Binary Id="ISSELFREG.DLL" src="$(var.binarydir)\ISSELFREG.DLL.ico" />
	<Binary Id="SetAllUsers.dll" src="$(var.binarydir)\SetAllUsers.dll.ico" />
	-->
  </Fragment>
</Wix>
