<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>trekstor</Oem>
	<Release>de</Release>
	<Platform>x86</Platform>
	<ProductName>ndas</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
	<Language Include="de-DE" />
  </ItemGroup>

  <PropertyGroup>
    <NoSetupVersionTag>true</NoSetupVersionTag>
  </PropertyGroup>
  
</Project>
