<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>ximeta</Oem>
	<Release>g2</Release>
	<Platform>x86</Platform>
	<ProductName>ndas</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
  </ItemGroup>

  <PropertyGroup>
	<AdditonalCandleDefines>NdasSetupFlags_ExcludeNdasBind</AdditonalCandleDefines>
	<NdasBuildProperties>AdditonalCandleDefines=$(AdditonalCandleDefines)</NdasBuildProperties>
  </PropertyGroup>

</Project>
