<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

  <PropertyGroup>
	<Oem>ximetafs2</Oem>
	<Release>us</Release>
	<Platform>x86</Platform>
	<ProductName>ndas</ProductName>
  </PropertyGroup>

  <ItemGroup>
	<Language Include="en-US" />
  </ItemGroup>

  <PropertyGroup>
    <CandleDefines>NdasSetupFlags_HAVE_NDASFAT</CandleDefines>
    <NdasscBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasscBuildProperties>
    <NdasscuiBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasscuiBuildProperties>
    <NdasBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasBuildProperties>
  </PropertyGroup>

</Project>
