// Do not open this file from Resource Editor
#ifndef APSTUDIO_INVOKED
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

#include "ndasport.ver"
#include "ndasverp.h"

#define VER_FILETYPE    VFT_DRV
#define VER_FILESUBTYPE VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "NDAS Port Driver"
#define VER_INTERNALNAME_STR        "ndasport.sys"
#define VER_ORIGINALFILENAME_STR    "ndasport.sys"
#define VER_LANGNEUTRAL

#include "ndascommon.ver"

NdasPortWMI MOFDATA ndasport.bmf

#endif /* APSTUDIO_INVOKED */
