/////////////////////////////////////////////////////////////////////////////
#ifndef APSTUDIO_INVOKED
#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)

#include "ndasbindres.ver"

#include "ndasverp.h"

// #define VER_NO_PRODUCT_VERSION
#define VER_FILETYPE			VFT_DLL
#define VER_FILESUBTYPE			VFT2_UNKNOWN

#ifndef VER_FILEDESCRIPTION_STR
# ifdef RCLANGDESCR
#  define VER_FILEDESCRIPTION_STR "NDAS Bind Management Resource DLL"
# else
#  define VER_FILEDESCRIPTION_STR "NDAS Bind Management Resource DLL"
# endif
#endif

#ifndef VER_INTERNALNAME_STR
#define VER_INTERNALNAME_STR	"ndasbindres.dll"
#endif

#include "ndascommon.ver"

/////////////////////////////////////////////////////////////////////////////
#endif //APSTUDIO_INVOKED
