<?xml version="1.0" encoding="utf-8" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<?include config.wxi?>
	<Fragment>

		<DirectoryRef Id="NdasApplicationFolder" FileSource="$(var.SetupFileSource)">
			<Component Id="ndascmd.exe" Guid="$(var.ndascmd.exe_GUID)" SharedDllRefCount="yes" DiskId="$(var.media.ndasapp)" Win64="$(var.Win64.YesNo)">
				<File Id="ndascmd.exe" Name="ndascmd.exe" KeyPath="yes" Checksum="yes" />
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
