<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<PropertyGroup>
		<Oem>coworld</Oem>
		<Release>ru</Release>
		<Platform>x86</Platform>
		<ProductName>sharedisk</ProductName>
	</PropertyGroup>

	<ItemGroup>
		<Language Include="en-US" />
		<Language Include="ru-RU" />
	</ItemGroup>

</Project>
