<?xml version="1.0"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<PropertyGroup>
		<Oem>rutter</Oem>
		<Release></Release>
		<Platform>x86</Platform>
		<ProductName>ndas</ProductName>
	</PropertyGroup>

	<ItemGroup>
		<Language Include="en-US" />
	</ItemGroup>

	<PropertyGroup>
		<CandleDefines>$(CandleDefines);NdasSetupFlags_AR_RUTTER</CandleDefines>
		<CandleDefines>$(CandleDefines);NdasSetupFlags_NoShortcut</CandleDefines>
		<CandleDefines>$(CandleDefines);NdasSetupFlags_NOLFSFILT</CandleDefines>
    <CandleDefines>$(CandleDefines);NdasSetupFlags_LowDisconnectThreshold</CandleDefines>
    <CandleDefines>$(CandleDefines);NdasSetupFlags_VeryLowDisconnectThreshold</CandleDefines>
    <NdasscBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasscBuildProperties>
		<NdasscuiBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasscuiBuildProperties>
		<NdasBuildProperties>AdditonalCandleDefines=$(CandleDefines)</NdasBuildProperties>
	</PropertyGroup>

</Project>
